3.5 Reading CSV files:

    Name: Sathish Kumar Rajendiran
    Task: Homework 1: Structured Data
    Date: 7/27/2020
 
     Structured Data Processing
         For purposes of this writeup, we will use examples from the Donors data file.
        The main outline of your assignment is to write a program that will read in the data from a file, such as the .csv file saved from Excel. This will be in a format that is structured with lines of data representing one type of unit (i.e., one donor in the donors file). Your program will represent the data as Python data structures. You may choose for the overall structure to be one or both of the following:
    - A list of dictionaries, or some combination of lists, dictionaries, and NumPy arrays 
    - A pandas dataframe
    You will do data exploration and cleaning on this data.
    The program will do some processing to convert the data to a form that will answer at least two questions as described below, and write files with the data suitable for answering each question. Graphing is optional.

In [85]:
#import libraries
import csv
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
os.getcwd()

'/Users/sathishrajendiran/ist652-python/hw1'

In [86]:
# Data pre processing

# define filepath variables
try: 
    filepath = '/Users/sathishrajendiran/ist652-python/hw1/'
    filename = 'donors_data.csv'    
    print(filepath+filename)
    
except:
    print("Is the file in correct directory?")

#define column names
ColNames = ['RowID','RowID.','Region1','Region2','Region3','Region4','IsHomeOwner'
            ,'NbrChildren','Income','Gender','Wealth','AvgHomeValue','MedIncome'
            ,'AvgIncome','PercentLowIncome','NbrProm','TotalGift','MaxGift'
            ,'LastGift','MonthsSinceLast','TimeLag','AvgGift','IsDonor','DonationAmount']

# Show all columns and do not truncate in the data frame
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

#import csv data into data frame
df_donors = pd.read_csv(filepath+filename, names=ColNames, skiprows=1)
df_donors

/Users/sathishrajendiran/ist652-python/hw1/donors_data.csv

,RowID,RowID.,Region1,Region2,Region3,Region4,IsHomeOwner,NbrChildren,Income,Gender,Wealth,AvgHomeValue,MedIncome,AvgIncome,PercentLowIncome,NbrProm,TotalGift,MaxGift,LastGift,MonthsSinceLast,TimeLag,AvgGift,IsDonor,DonationAmount
0,1,17,0,1,0,0,1,1,5,1,9,1399,637,703,1,74,102.0,6.0,5.0,29,3,4.857143,1,5.0
1,2,25,1,0,0,0,1,1,1,0,7,698,422,463,4,46,94.0,12.0,12.0,34,6,9.400000,1,10.0
2,3,29,0,0,0,1,0,2,5,1,8,828,358,376,13,32,30.0,10.0,5.0,29,7,4.285714,1,5.0
3,4,38,0,0,0,1,1,1,3,0,4,1471,484,546,4,94,177.0,10.0,8.0,30,3,7.080000,0,0.0
4,5,40,0,1,0,0,1,1,4,0,8,547,386,432,7,20,23.0,11.0,11.0,30,6,7.666667,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3115,3116,23256,0,0,0,1,1,1,4,0,8,697,337,372,11,23,30.0,16.0,4.0,29,5,7.500000,0,0.0
3116,3117,23258,0,1,0,0,0,1,2,0,8,590,319,400,0,29,53.0,30.0,30.0,37,9,26.500000,1,40.0
3117,3118,23261,0,0,0,1,1,1,3,0,7,3129,547,580,6,79,212.0,20.0,20.0,36,3,11.157895,0,0.0
3118,3119,23265,0,0,0,1,1,1,7,1,8,1345,514,525,6,27,60.0,20.0,20.0,31,9,20.000000,0,0.0
3119,3120,23293,0,0,1,0,1,1,5,1,4,882,315,374,21,46,111.0,22.0,9.0,36,5,9.250000,0,0.0

In [87]:
# Data Cleaning
#1. Remove unwanted columns
try: 
    delColNames = ['RowID','RowID.']
    df_donors.drop(delColNames,axis=1,inplace=True)
except:
    print("items deleted already!")

In [118]:
df_donors.head()

,Region1,Region2,Region3,Region4,IsHomeOwner,NbrChildren,Income,Gender,Wealth,AvgHomeValue,MedIncome,AvgIncome,PercentLowIncome,NbrProm,TotalGift,MaxGift,LastGift,MonthsSinceLast,TimeLag,AvgGift,IsDonor,DonationAmount,Region
0,0,1,0,0,1,1,5,1,9,1399,637,703,1,74,102.0,6.0,5.0,29,3,4.857143,1,5.0,2
1,1,0,0,0,1,1,1,0,7,698,422,463,4,46,94.0,12.0,12.0,34,6,9.400000,1,10.0,1
2,0,0,0,1,0,2,5,1,8,828,358,376,13,32,30.0,10.0,5.0,29,7,4.285714,1,5.0,4
3,0,0,0,1,1,1,3,0,4,1471,484,546,4,94,177.0,10.0,8.0,30,3,7.080000,0,0.0,4
4,0,1,0,0,1,1,4,0,8,547,386,432,7,20,23.0,11.0,11.0,30,6,7.666667,0,0.0,2

In [88]:
#2. Regions cleanup

#define function to parse through every row and assign respective value into Region column
def regions(row):
    if row['Region1'] == 1:
        val = 1
    elif row['Region2'] == 1:
        val = 2
    elif row['Region3'] == 1:
        val = 3
    elif row['Region4'] == 1:
        val = 4
    else:
        val = 5
    return val
df_donors['Region'] = df_donors.apply(regions,axis=1)

In [89]:
df_donors.shape #(3120, 23)
# len(df_donors.Region) #3120
len(df_donors)

3120

In [90]:
# df_donors.count()
df_donors.groupby('Region').count()

,Region1,Region2,Region3,Region4,IsHomeOwner,NbrChildren,Income,Gender,Wealth,AvgHomeValue,MedIncome,AvgIncome,PercentLowIncome,NbrProm,TotalGift,MaxGift,LastGift,MonthsSinceLast,TimeLag,AvgGift,IsDonor,DonationAmount
Region,,,,,,,,,,,,,,,,,,,,,,
1,669,669,669,669,669,669,669,669,669,669,669,669,669,669,669,669,669,669,669,669,669,669
2,578,578,578,578,578,578,578,578,578,578,578,578,578,578,578,578,578,578,578,578,578,578
3,669,669,669,669,669,669,669,669,669,669,669,669,669,669,669,669,669,669,669,669,669,669
4,1200,1200,1200,1200,1200,1200,1200,1200,1200,1200,1200,1200,1200,1200,1200,1200,1200,1200,1200,1200,1200,1200
5,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4

In [120]:
#validate Number of Region by values 
Region1_count = len(df_donors[df_donors['Region']==1])
Region2_count = len(df_donors[df_donors['Region']==2])
Region3_count = len(df_donors[df_donors['Region']==3])
Region4_count = len(df_donors[df_donors['Region']==4])
Region5_count = len(df_donors[df_donors['Region']==5])

print((Region1_count+Region2_count+Region3_count+Region4_count+Region5_count)/len(df_donors)) #1.0

print('Percentage of donors from Region 1 is {}%'.format(round((Region1_count)/len(df_donors)*100,2))) #1.0
print('Percentage of donors from Region 2 is {}%'.format(round((Region2_count)/len(df_donors)*100,2)))
print('Percentage of donors from Region 3 is {}%'.format(round((Region3_count)/len(df_donors)*100,2)))
print('Percentage of donors from Region 4 is {}%'.format(round((Region4_count)/len(df_donors)*100,2)))
print('Percentage of donors from Region 5 is {}%'.format(round((Region5_count)/len(df_donors)*100,2)))

1.0
Percentage of donors from Region 1 is 21.44%
Percentage of donors from Region 2 is 18.53%
Percentage of donors from Region 3 is 21.44%
Percentage of donors from Region 4 is 38.46%
Percentage of donors from Region 5 is 0.13%

In [122]:
# Number of Donors by Gender
male_donors = len(df_donors[df_donors['Gender']==1])
female_donors = len(df_donors[df_donors['Gender']==0])

print('Number of male donors are ',male_donors,' Ratio is {}%'.format(round(male_donors/len(df_donors) *100,2)))
print('Number of female donors are',female_donors,' Ratio is {}%'.format(round(female_donors/len(df_donors)*100,2)))

Number of male donors are  1901  Ratio is 60.93%
Number of female donors are 1219  Ratio is 39.07%